<template>
  <div>
    <h1>Welcome to the Campus Edu Registration Tool</h1>
    <p>This tool is designed for registrars of a student's home institution,
      as well as the institution offering the course. You will be able to:</p>
    <ul>
      <li>View Campus Edu course applicants</li>
      <li>Approve or deny applicants</li>
      <li>Add notes to a student</li>
      <li>Add or modify student information</li>
    </ul>
  </div>
</template>

<script>
export default {
name: "Home"
}
</script>

<style scoped>

</style>
