<template>
  <LoginCard v-if="!$store.state.loggedIn" transition="scale-transition" origin="center center"/>
</template>

<script>

import LoginCard from "@/components/LoginCard";

export default {
  name: "Login",
  components: {
    LoginCard,
  },
}
</script>

<style scoped>

</style>
