<template>
	<div>
		<v-list>
			<v-subheader>TODAY</v-subheader>
			<v-list-item-group color="primary"
			>
				<v-list-item
					v-for="(item, i) in students"
					:key="i"
					@click="toggleStudent( item )"
				>
					<v-list-item-icon>
						<v-icon v-text="item.icon"></v-icon>
					</v-list-item-icon>
					<v-list-item-content>
						<v-list-item-title>
							{{ `${ item.firstName } ${ item.lastName }` }}
						</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
			</v-list-item-group>
		</v-list>
		<v-navigation-drawer
			v-model="studentOpen"
			absolute
			temporary
			right
			width="500px"
		>
			<v-list-item>
				<v-list-item-content>
					<v-list-item-title>
						{{ `${ studentSelected.firstName } ${ studentSelected.lastName }` }}
					</v-list-item-title>
					<v-list dense>
						<v-subheader>GENERAL INFORMATION</v-subheader>
						<v-list-item-group color="primary"
						>
							<v-list-item>
								<v-list-item-icon>
									<v-icon>mdi-email</v-icon>
								</v-list-item-icon>
								<v-list-item-content>
									<v-list-item-title v-text="studentSelected.email" />
								</v-list-item-content>
							</v-list-item>
							<v-list-item>
								<v-list-item-icon>
									<v-icon>mdi-phone</v-icon>
								</v-list-item-icon>
								<v-list-item-content>
									<v-list-item-title v-text="studentSelected.phone" />
								</v-list-item-content>
							</v-list-item>
							<v-list-item>
								<v-list-item-icon>
									<v-icon>mdi-map-marker</v-icon>
								</v-list-item-icon>
								<v-list-item-content>
									<v-list-item-title>
										{{ studentSelected.street }}<br>
										{{ studentSelected.city }}, {{ studentSelected.state }}
									</v-list-item-title>
								</v-list-item-content>
							</v-list-item>
						</v-list-item-group>
						<v-subheader>Education INFORMATION</v-subheader>
						<v-list-item-group color="primary">
							<v-list-item>
								<v-list-item-icon>
									<v-icon>mdi-school</v-icon>
								</v-list-item-icon>
								<v-list-item-content>
									<v-list-item-title>Home Institution</v-list-item-title>
									<v-list-item-subtitle v-text="studentSelected.homeInstitution"/>
								</v-list-item-content>
							</v-list-item>
						</v-list-item-group>
					</v-list>
				</v-list-item-content>
			</v-list-item>
		</v-navigation-drawer>
	</div>
</template>

<script>
export default {
  name: "NewApplicants",
  data() {
	return {
		// generated with https://next.json-generator.com/4yg6MG18K
		students: [
			{
				"firstName": "Lakisha",
				"lastName": "Benson",
				"icon": "mdi-account",
				"email": "ex@email.com",
				"phone": "(911) 423-3357",
				"street": "93612 McDonald Avenue",
				"city": "Cobbtown",
				"state": "Guam",
				"homeInstitution": "Gordon College"
			},
			{
				"firstName": "Mcfarland",
				"lastName": "Hart",
				"icon": "mdi-account",
				"email": "minim@email.com",
				"phone": "(940) 566-3250",
				"street": "52072 Mill Road",
				"city": "Rosine",
				"state": "South Carolina",
				"homeInstitution": "Gordon College"
			},
			{
				"firstName": "Myra",
				"lastName": "Meadows",
				"icon": "mdi-account",
				"email": "deserunt@email.com",
				"phone": "(833) 571-2417",
				"street": "68977 Revere Place",
				"city": "Cornfields",
				"state": "Idaho",
				"homeInstitution": "Lipscomb University"
			},
			{
				"firstName": "Medina",
				"lastName": "Franklin",
				"icon": "mdi-account",
				"email": "esse@email.com",
				"phone": "(959) 489-2216",
				"street": "78140 Hill Street",
				"city": "Hasty",
				"state": "Georgia",
				"homeInstitution": "Abilene Christian University"
			},
			{
				"firstName": "Chrystal",
				"lastName": "Brooks",
				"icon": "mdi-account",
				"email": "dolore@email.com",
				"phone": "(877) 429-2464",
				"street": "55191 Eagle Street",
				"city": "Levant",
				"state": "Maryland",
				"homeInstitution": "Gordon College"
			},
			{
				"firstName": "Knapp",
				"lastName": "Morgan",
				"icon": "mdi-account",
				"email": "irure@email.com",
				"phone": "(858) 546-3742",
				"street": "71124 Micieli Place",
				"city": "Turah",
				"state": "Colorado",
				"homeInstitution": "Gordon College"
			}
		],
		studentSelected: {},
		studentOpen: false,
	};
  },
	methods: {
		toggleStudent( student ) {
			this.studentOpen = !this.studentOpen;
			this.studentSelected = student;
		},
	}
}
</script>

<style scoped>

</style>
