<template>
  <div class="login-card-wrapper">
    <img
        height="50px"
        width="120px"
        src="@/assets/logo.png"
    />
	<h1 class="my-5">Secure Registration</h1>
    <v-card
        :loading="loading"
        class="mx-auto"
        width="500px"
    >
      <template slot="progress">
        <v-progress-linear
            height="10"
            indeterminate
        ></v-progress-linear>
      </template>

      <v-card-title>Login</v-card-title>

      <v-card-text>
        <v-text-field
            label="User"
            prepend-icon="mdi-account"
        />
        <v-text-field
            v-model="password"
            prepend-icon="mdi-lock-question"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            name="input-10-1"
            label="Password"
            hint="At least 8 characters"
            counter
            @click:append="showPassword = !showPassword"
        ></v-text-field>
      </v-card-text>
      <v-card-text>
        <v-btn
            block
            color="primary"
            elevation="2"
            @click="login"
        >Login</v-btn>
      </v-card-text>

      <v-card-actions>
        <v-btn
            color="deep-purple lighten-2"
            text
        >
          Forgot Password
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "LoginCard",
  data() {
    return {
      loading: false,
      password: '',
      showPassword: false,
    };
  },
  methods: {
    login() {
      this.loading = true;
      setTimeout( () => (
          this.$store.commit( 'login' ),
          this.$router.push( '/welcome' )
      ), 3000);
    },
  }
}
</script>

<style lang="scss">
  .login-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
</style>
