<template>
  <v-app>
    <NavMain v-if="$store.state.loggedIn" />
    <v-app-bar app v-if="$store.state.loggedIn">
      <v-app-bar-nav-icon @click="$store.commit( 'toggleNav' )"/>
      {{ $route.name }}
      <v-spacer />
      <v-img
          src="@/assets/logo.png"
          max-height="100%"
          max-width="100px"
      />
    </v-app-bar>
    <v-main>
      <v-container>
        <router-view/>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import NavMain from "@/components/NavMain";

export default {
  name: 'App',
  components: {
    NavMain,
  },
};
</script>
